body{

  background: #FA780F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #FA780F, #4AB303,#1493D6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #FA780F, #4AB303,#1493D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  

}

.logo{
    max-width:250px; 
    max-height: 250px;
}
.form-center{
  margin-top: 20%; margin-bottom: 20%;
}
.nav-aki-color{

  background-image: linear-gradient(to right, #ee2314 35%, #1e2d59 100%);
}
  
