html, body{
  height:100%;
 }
body{

  background: red;
  background: -webkit-linear-gradient(rgb(0, 130, 206), white);
  background: -o-linear-gradient(rgb(0, 130, 206), white);
  background: -moz-linear-gradient(rgb(0, 130, 206), white);
  background: linear-gradient(rgb(0, 130, 206)), white);
}

.logo{
    max-width:250px; 
    max-height: 250px;
}
.form-center{
  margin-top: 20%; margin-bottom: 20%;
}
.nav-aki-color{

  background-image: linear-gradient(to right, #ee2314 35%, #1e2d59 100%);
}
  
